body, html {
. box height: 100 %;
    width: 90%;
    padding: 8px;
    margin: 3px;
    font-family: Arial, Ubuntu, sans-serif;}


.message-{
}

.message-info{
    background-color: #CDDFFF;
    color: #493F9E;
    padding-top: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;

}
.message-success {
    background-color: #CFF3DA;
    color: green;
    padding-top: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.message-warning {
    background-color: #ffffe0;
    color: #a7a738;
    padding-top: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.message-error {
    background-color: pink;
    color: darkred;
    padding-top: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}